*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px*/

}

body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #38404b;
    padding: 7.4rem 12.6rem;
    border-radius: 20px;
}
.header{
    position: relative;
}
.header__text{
    color: #94adcf;
    font-size: 2.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-bottom: 55px;
    display:none;
}

.input {
    width: 57.8rem;
    height: 5.9rem;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: center;
}
.input-on {
    display: block;
}

#newtask {
    width: 100%;
    height: 100%;
    padding-left: 38px;
    background-color: #38404B;
    border-radius: 10px;
    outline: #000;
    box-shadow: 1px 1px 2px rgba(66, 75, 88, .3), -1px -1px 2px rgba(46, 53, 62, .5), inset -3px 3px 6px rgba(46, 53, 62, .2), inset 3px -3px 6px rgba(46, 53, 62, .2), inset -3px -3px 6px rgba(66, 75, 88, .9), inset 3px 3px 8px rgba(46, 53, 62, .9);
    border:none;
    color: rgba(148, 173, 207, .7);

}

#newtask::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    color: rgba(148, 173, 207, .7);
}


.enter__button {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.input__enter {
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.burguer__button {
    position: absolute;
    right: -70px;
    top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.burguer {
    width: 40px;
    height: 29px;
    pointer-events: none;
}

.tasks {
    width: 100%;
    margin-top: 10rem;
}

.tasks__list, .completed-tasks__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tasks__item {
    width: 44.9rem;
    height: 5.9rem;
    color: rgba(148, 173, 207);
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, .5), -5px 5px 10px rgba(48, 54, 64, .2), 5px -5px 10px rgba(48, 54, 64, .2), -5px -5px 10px rgba(64, 74, 86, .9), 5px 5px 13px rgba(48, 54, 64, .9) ;
    border-radius:10px;
    margin-bottom: 5.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1.7rem 2.0rem;
    position:relative;
    cursor: pointer;
}



.completed {
    color: #94adcf;
    font-size: 2.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.completed-tasks {
    width: 100%;
    margin-top: 5rem;
}

.completed-tasks__item {
    width: 44.9rem;
    height: 5.9rem;
    color: rgba(148, 173, 207);
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: line-through;
    border-radius:10px;
    margin-bottom: 5.2rem;
    box-shadow: 1px 1px 2px rgba(64, 74, 86, .3), -1px -1px 2px rgba(48, 54, 64, .5), inset -5px 5px 10px rgba(48, 54, 64, .2), inset 5px -5px 10px rgba(48, 54, 64, .2), inset -5px -5px 10px rgba(64, 74, 86, .9), inset 5px 5px 13px rgba(48, 54, 64, .9);
    display: flex;
    align-items: center;
    padding: 1.7rem 2.0rem;
    position:relative;
    cursor: pointer;
}

.label-text{
    margin-left: 5rem;
    pointer-events: none;
}
.label-text::first-letter {
    text-transform: uppercase;
}

.label-text::before {
    content:'';
    position: absolute;
    left:3rem;
    display: block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 3px solid #94adcf;
    border-radius: 50%;
}

.checked .label-text::before {
    background-color: #94adcf;
    
}


.plus-button {
    width: 60px;
    height: 60px;
    background-color: #38404B;
    border: none;
    border-radius: 50%;
    box-shadow: inset 1px 1px 2px rgba(90, 102, 120, .3), inset -1px -1px 2px rgba(22, 26, 30, .5), -1px 1px 2px rgba(22, 26, 30, 0.2), 1px -1px 2px rgba(22, 26, 30, 0.2), -1px -1px 2px rgba(89, 101, 120, 0.9), 1px 1px 3px rgba(22, 26, 30, 0.9);
    position: fixed;
    right: 25px;
    bottom: 70px;
    cursor: pointer;
    z-index: 50;
    display: none;
}

/* desenhando icone plus (+) */
.plus {
    width: 24px;
    height: 2.8px;
    background-color: #94ADCF;
    border-radius: 20px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.plus:before {
    content: "";
    display: block;
    width: 2.8px;
    height: 24px;
    background-color: #94adcf;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
}

/* ... */
.clicked {
    background-color: #94adcf;
}

.clicked > .plus, .clicked > .plus:before {
    background-color: #38404B;
}



.bar-container {
    position:fixed;
    bottom: 12px;
    left:50%;
    transform:translateX(-50%);
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(4px)
}

.modal-on {
    z-index: 10;
}

@media only screen and (max-width:1024px){
    html {
        font-size: 58.5%;
        /* 1rem = 9.3px */
    }
    .container {
        max-width: 1024px;
        padding: 7.4rem 3rem;
    }
    .input{
        width:60%;
        min-width: 35rem;
    }
    .burguer__button{
        right: 0;
        top: 15px;
    }
    .tasks__item{
        width: 60%;
        min-width: 400px;
        margin: 0 auto 5.2rem;
    }
    .completed{
        text-align: center;
    }
    .completed-tasks__item{
        width: 60%;
        min-width: 400px;
        margin: 0 auto 5.2rem;
    }
}
@media only screen and (max-width:420px){
    body{
        margin: 0;
    }
    .container {
        max-width: 420px;
        height: 884px;
        padding: 56px 28px;
    }
    .header__text{
        display: block;
    }
    .input{
        width: 100%;
        min-width: 300px;
        margin: 0;
        display: none;
        z-index: 50;
    }
    .enter__button{
        top:50%;
        transform: translateY(-50%)
    }
    .burguer__button{
        right: 0;
        top: 0;
    }
    .tasks{
        margin-top: 5rem;
    }
    .tasks__item{
        width: 100%;
        min-width: 300px;
        height: 5rem;
        margin-bottom: 4rem;
    }
    .completed{
        text-align: left;
    }
    .completed-tasks__item{
        width: 100%;
        min-width: 300px;
        margin-bottom: 4rem;
    }
    .bar-container{
        display: block;
    }
    .plus-button{
        display: block;
    }
    .input-on {
        display: block;
    }
}